body {
    background-image: url("file:///C:/Users/ACER/Documents/Zalo%20Received%20Files/images/images/hero4.png");
    background-repeat: repeat;
    height: 100%;
    width: 90%;
    text-align: center;
}

.Header {
    display: flex;
    justify-content: space-between;
}

.Logo {
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center
}

.Menu {
    height: 40px;
    display: flex;
    /*dùng làm cho chữ nằm ngang */
    justify-content: space-between;
    align-items: center;
}

.Menu-item {
    cursor: pointer;
    padding: 10px;
}

.banner {
    height: 400px;
    display: flex;
    vertical-align: bottom;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 1.5em;
}

.task-1 {
    text-align: center;
    color: rgb(185, 185, 188);
    font-size: xxx-large;
    margin-top: 50px
}

.task-2 {
    text-align: center;
    color: black;
    font-size: 200%;
    line-height: 2em;
}

.task-3 {
    text-align: center;
    color: greenyellow;
    font-size: 200%;
}

.task-4 {
    text-align: center;
    color: rgb(57, 164, 19);
    font-size: smaller;
    vertical-align: bottom;
}

.task-5 {
    text-align: center;
    color: rgb(119, 223, 54);
    font-size: small;
    background-image: url("file:///C:/Users/ACER/AppData/Local/Temp/203fd7c7-94e5-4a43-aaa2-736a6c35a6dc_images.zip.6dc/images/button.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    padding: 5px;
}


/* id là dấu thăng và class là dấu . */